*{
    /* background-image: url('bg4\ \(2\).jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgb(244, 198, 160);
    margin-left: 30px;
}
#back{
    opacity: 0.3;
}
body{
    background-color: black;
}

h1{
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0px;
    color: white;
    
}

#i1{
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 600px;
    margin-bottom: 40px;
}

.v1{
    font-size: 200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 560px;
    margin-right: 0;
    display: inline;
}

.v2{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
    display: inline;

}

h3{
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 30px;
}

h5{
    font-size: 20px;
    margin-bottom: 10px;
}

.p1{
    font-size: larger;
    margin-bottom: 50px;
    opacity: 0.9;
    font-weight: 500;
    color: white;
   
}